<h1 class="title">Vertic Family Feud</h1>

<div class="feud-frame">
	<div class="quiz">
		<section class="quiz__team quiz__team--left">
			<h1 class="quiz__team__name">Team 1</h1>

			<h2 class="quiz__team__score">{{teams.0.score}}</h2>
		</section>

		<section class="quiz__main"></section>

		<section class="quiz__team quiz__team--right">
			<h1 class="quiz__team__name">Team 2</h1>

			<h2 class="quiz__team__score">{{teams.1.score}}</h2>
		</section>

		<section class="quiz__question"></section>
	</div>
</div>
