<h1 class="title">Family Feud <small>ADMIN</small></h1>

<div class="admin">
	<a href="#" class="button admin__begin">Begin</a>
	<a href="#" class="button admin__reset">Restart all</a>
</div>

<div class="feud-frame feud-frame-admin">
	<div class="quiz">
		<section class="quiz__team quiz__team--left">
			<h1 class="quiz__team__name">Team 1</h1>

			<div class="admin">
				<a href="#" class="button admin__begin team1">Team wins</a>
			</div>

			<h2 class="quiz__team__score">{{teams.0.score}}</h2>
		</section>

		<section class="quiz__main"></section>

		<section class="quiz__team quiz__team--right">
			<h1 class="quiz__team__name">Team 2</h1>

			<div class="admin">
				<a href="#" class="button admin__begin team2">Team wins</a>
			</div>

			<h2 class="quiz__team__score">{{teams.1.score}}</h2>
		</section>

		<section class="quiz__question"></section>
	</div>
</div>
