/**
* Base variables and function definitions
*
* @section layout
* @author echristensen
*/

/**
* Define breakpoints.
*	They can be used elsewhere, but must be defined here for
*	the sake of layout.
*
* Do not use the layout argument elsewhere.
*/

/* 4 column fixed layout */
@include breakpoint(4, layout) {
	// Code
}

/* 6 column fixed layout */
@include breakpoint(6, layout) {
	// Code
}

/* 8 column fixed layout */
@include breakpoint(8, layout) {
	// Code
}

/* 12 column layout with sidebar */
@include breakpoint(12, layout) {
	// Code
}
