		<div id="modal-frame" class="modal">
			<div class="modal__content"></div>
			<div class="modal__overlay"></div>
		</div>
	</div>
	
	<!-- build:js ../scripts/bundle.js -->
	<script src="/scripts/bundle.js"></script>
	<!-- endbuild -->
</body>
</html>