		<div id="modal-frame" class="modal">
			<div class="modal__content"></div>
			<div class="modal__overlay"></div>
		</div>
	</div>

	<script>
		window.state = 'admin';
	</script>
	
	<!-- build:js ../scripts/bundle.js -->
	<script src="/scripts/bundle-server.js"></script>
	<!-- endbuild -->
</body>
</html>