<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Vertic - www.vertic.com" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Vertic Family Feud</title>

	<!-- build:css ../styles/style.css -->
	<link rel="stylesheet" href="/styles/style.css">
	<!-- endbuild -->
	
	<!-- build:js ../scripts/modern.js -->
	<script src="/scripts/vendor/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>
	<input id="data" type="hidden" value="{{data}}" />

	<div class="application-frame">