<h1>User login</h1>

<div class="message"><p>{{message}}</p></div>

<form action="/user/login" method="post">
	<input type="text" name="email" placeholder="E-mail" />
	<input type="password" name="password" placeholder="Password" />

	<input type="submit" value="Submit" />
</form>
