<h1>User signup</h1>

<div class="message"><p>{{message}}</p></div>

<form action="/user/signup" method="post">
	<input type="text" name="email" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<br />
	<input type="text" name="name" placeholder="Full name" />

	<input type="submit" value="Submit" />
</form>
