/**
* Base typographical setup (vertical rythm etc)
*
* @section Layout
* @author echristensen
*/

@include establish-baseline;

// Typography

h1, h2, h3, h4 {
	font-family: $font-stack-header;
	font-weight: bold;
	line-height: 1.1em;
}

p {
	margin: 0 0 em(20px);
}

.entry {
	font-size: em(14px);
	line-height: 1.5em;
}

@include breakpoint(8) {
	h1 {
		margin: 0 0 em(50px, 48px);
	}

	.entry {
		font-size: em(16px);
	}
}
