/**
* admin
*
* @section modules
* @author rkalms
*/

.button {
	display: inline-block;
	margin: .5em;
	padding: .8em 2em;

	position: relative;

	color: rgb(33,33,33);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 800;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;

	border-radius: 42px;
	background: rgba(255,255,255,.4);

	transition: background .2s ease;

	&:hover {
		background: rgba(255,255,255,.9);
	}

	&:active {
		top: 1px;
	}

	&:focus {
		outline: none;
	}
}

.admin {
	float: left;
	width: 100%;
	margin: 0 0 em(40px) 0;

	text-align: center;
}