/**
* Generic stuff
*
* @section framework
* @author rkalms
*/

html, body {
		height: 100%;
	min-height: 100%;

	@include box-sizing(border-box);
}

body {
	padding: em(50px);

	color: rgb(255,255,255);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	//box-shadow: inset rgba(0,0,0,.4) 0 0 50px;
	background: rgb(182,18,3);
}

.title {
	margin-top: em(40px, 54px);
	width: 100%;

	font-size: em(54px);
	letter-spacing: 4px;

	text-align: center;
	text-transform: uppercase;
}

.feud-frame {
	float: left;
	margin: em(10px) 0 0;
	width: 100%;
}

#feud {
	width: 100%;

	text-align: center;

	> h1 {
		margin: em(100px, 68px) 0;

		font-size: em(68px);
		text-transform: uppercase;
	}
}
