/**
* Quiz
*
* @section modules
* @author rkalms
*/

.quiz {
	* {
		@include box-sizing(border-box);
	}

	&__main {
		float: left;
		margin: 0 2.5%;
		padding: em(20px) 0 0;
		width: 50%;

		background: rgba(255,255,255,.1);
	}

	&__list {
		margin: 0;
		padding: 0;

		list-style: none;

		li {
			float: left;
			margin: 0 2.5% 2.5%;
			padding: 0;
			width: 45%;
			height: 70px;

			position: relative;

			text-align: center;
			font-size: em(22px);
		}

		&__nr,
		&__text {
			height: 70px;

			background: rgb(151,33,22);
		}

		&__nr {
			display: block;
			padding: 24px;
			width: 100%;

			font-size: em(28px);
		}

		&__text {
			display: block;
			padding: em(16px, 22px) em(20px, 22px);
			width: 100%;
			padding-right: 50px;

			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: left;

			em {
				padding: 21px 0;
				width: 15%;

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;

				font-size: em(14px);
				font-style: normal;
				font-weight: lighter;
				text-transform: none;
				text-align: center;

				background: rgba(0,0,0,.1);

				box-shadow: inset rgba(0,0,0,.05) 3px 0 1px;
			}
		}

		// Flip animation
		&__item {
			-webkit-perspective: 1000;

			transition: box-shadow 0s ease-in;

			&.flip {
				box-shadow: rgba(0,0,0,.2) 0 0 6px;
				transition: box-shadow .6s ease-in;
			}

			/* flip the pane when hovered */
			&.flip > div {
				transform: rotateX(180deg);
			}

			> div {
				transition: .6s;
				transform-style: preserve-3d;
				transform-origin: 100% 35px; /* half of height */

				position: relative;
			}
		}

		&__text,
		&__nr {
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		/* Front */
		&__nr {
			z-index: 2;
			/* for firefox 31 */
			transform: rotateX(0deg);
		}

		/* Back */
		&__text {
			transform: rotateX(180deg);
		}

		/* Front */
		.feud-frame-admin &__nr {
			z-index: 2;
			/* for firefox 31 */
			transform: rotateX(180deg);
		}

		/* Back */
		.feud-frame-admin &__text {
			transform: rotateX(0deg);
		}
	}

	&__team {
		width: 20%;

		text-align: center;

		&__name {
			margin-top: 2em;

			font-size: em(24px);
			font-weight: 200;
			letter-spacing: 4px;
			text-transform: uppercase;
		}

		&__score {
			margin-top: .5em;
			font-size: em(84px);
		}

		&--left {
			float: left;
		}

		&--right {
			float: right;
		}
	}

	&__question {
		float: left;

		margin: em(60px) 0 0;
		width: 100%;

		color: rgba(255,255,255,.7);

		&__headline {
			margin: 0 auto;
			max-width: 45%;

			position: relative;

			font-family: Georgia, serif;
			font-weight: 200;
			font-style: italic;
			font-size: em(42px);
			line-height: 1.4em;
			text-align: center;
			letter-spacing: 1px;

			&:before {
				content: "”";

				display: inline-block;
				padding-right: em(12px, 48px);

				// position: absolute;
				// top: -10px;
				// left: 0px;
			}
		}
	}
}
